<div class="container-fluid">
  <div class="row">
    <div class="col-4 p-0 sidebar">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a
            [routerLink]="panelPathsEnum.Messages"

            class="nav-link"
            href="javascript:void(0)"
            id="messages"
          >
            <i aria-hidden="true" class="fa fa-comments"></i>
            Messages
          </a>

<!--          <ul>-->
<!--            <li *ngFor="let room of user.chatRooms">{{room}}</li>-->
<!--          </ul>-->
        </li>

        <li class="nav-item">
          <a
            [routerLink]="panelPathsEnum.Contacts"

            class="nav-link"
            href="javascript:void(0)"
            id="contacts"
          >
            <i aria-hidden="true" class="fa fa-user-plus"></i>
            Contacts
          </a>
        </li>

        <li class="nav-item mt-auto">
          <a
            [routerLink]="panelPathsEnum.Settings"

            class="nav-link"
            href="javascript:void(0)"
            id="settings"
          >
            <i aria-hidden="true" class="fa fa-cog"></i>
          </a>
        </li>

        <li class="nav-item">
          <a
            [routerLink]="panelPathsEnum.Help"

            class="nav-link"
            href="javascript:void(0)"
            id="help"
          >
            Need Help?
          </a>
        </li>

        <li class="nav-item">
          <a
            class="nav-link"
            href="javascript:void(0)"
            id="log-out"
          >
            <i aria-hidden="true" class="fa fa-sign-out"></i>
            Log Out
          </a>
        </li>
      </ul>
    </div>

    <div class="col-8 p-0">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
